<%= provide(:title, 'Top Secret') %>
<div class="row">
	<div class="span12">
		<ul class="breadcrumb">
			<li class="active"><i class="icon-lock"></i> Top Secret</li>
		</ul> 
	</div>
</div><div class="row">
	<div class="span12">
		<div class="alert alert-info">
			<i class="icon-beaker"></i> You have important messages. 
		</div>
		<h6>Your Tools</h6>
		<div class="btn-toolbar">
			<div class="btn-group">
			  <%= link_to '<i class="icon-list-alt"></i> Articles'.html_safe, admin_articles_path, :class => "btn btn-warning" %>
			  <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><%= link_to_icon "plus", "New Article", new_admin_article_path %></li>
			    <li><%= link_to_icon "edit", "Manage", admin_articles_path %></li>
			  </ul>
			</div>

			<div class="btn-group">
			  <%= link_to '<i class="icon-flag"></i> Events'.html_safe, admin_events_path, :class => "btn btn-info" %>
			  <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><%= link_to_icon "plus", "New Event", new_admin_event_path %></li>
			    <li><%= link_to_icon "edit", "Manage", admin_events_path %></li>
			  </ul>
			</div>

			<div class="btn-group">
			  <button class="btn btn-success"><i class="icon-camera"></i> Gallery</button>
			  <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><%= link_to_icon "plus", "New Gallery", nil %></li>
			    <li><%= link_to_icon "edit", "Manage Galleries", nil %></li>
			    <li class="divider"></li>
			    <li><%= link_to_icon "plus", "New Image", nil %></li>
			    <li><%= link_to_icon "edit", "Manage Images", nil %></li>
			  </ul>
			</div>

			<div class="btn-group">
			  <button class="btn btn-inverse"><i class="icon-user"></i> Users</button>
			  <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><%= link_to_icon "beaker", "New Admin", nil %></li>
			    <li><%= link_to_icon "headphones", "New Artist", nil %></li>
			    <li><%= link_to_icon "user", "New Fan", nil %></li>
			    <li><%= link_to_icon "edit", "Manage", nil %></li>
			  </ul>
			</div>

			<div class="btn-group">
			  <button class="btn btn-danger"><i class="icon-tags"></i> Genres</button>
			  <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><%= link_to_icon "plus", "New Genre", nil %></li>
			    <li><%= link_to_icon "edit", "Manage", nil %></li>

			  </ul>
			</div>
			
			<div class="btn-group">
			  <button class="btn"><i class="icon-music"></i> Albums</button>
			  <button class="btn dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><%= link_to_icon "plus", "New Album", nil %></li>
			    <li><%= link_to_icon "edit", "Manage Albums", nil %></li>
			    <li class="divider"></li>
			    <li><%= link_to_icon "plus", "New Song", nil %></li>
			    <li><%= link_to_icon "edit", "Manage Songs", nil %></li>
			  </ul>
			</div>

			<div class="btn-group">
			  <button class="btn btn-primary"><i class="icon-wrench"></i> Other</button>
			  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><%= link_to_icon "plus", "New Genre", nil %></li>
			    <li><%= link_to_icon "edit", "Manage", nil %></li>

			  </ul>
			</div>

		</div>
		<hr>

	</div>
</div>

<div class="row">
	<div class="span3">
		<div class="well">
			<h4>Welcome back, <%= link_to "Cody Lopez" %></h4>
			<p>Your last vist was </p>
		</div>
		<h2><i class="icon-eye-open"></i> Snoop</h2>
		<p>These are the latest actions by mods/admins.</p>
		<h2><i class="icon-flag"></i> Look Out</h2>
		<p>These items have been flagged for review by you! or another adminstrator.</p>

	</div>
	<div class="span9">
		<h2><i class="icon-bar-chart"></i> Quick Stats</h2>
		<div class="row">
			<div class="span4">
				<h6>Plays</h6>
				<table class="table table-striped table-bordered table-condensed">
				  <thead>
				    <tr>
				      <th>…</th>
				      <th>…</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>…</td>
				      <td>…</td>
				    </tr>
				  </tbody>
				</table>
			</div>
			
			<div class="span5">
				<h6>Artists</h6>
				<table class="table table-striped table-bordered table-condensed">
				  <thead>
				    <tr>
				      <th>…</th>
				      <th>…</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>…</td>
				      <td>…</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="span3">
				<h6>Albums</h6>
				<table class="table table-striped table-bordered table-condensed">
				  <thead>
				    <tr>
				      <th>…</th>
				      <th>…</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>…</td>
				      <td>…</td>
				    </tr>
				  </tbody>
				</table>
			</div>
			
			<div class="span3">
				<h6>Events</h6>
				<table class="table table-striped table-bordered table-condensed">
				  <thead>
				    <tr>
				      <th>…</th>
				      <th>…</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>…</td>
				      <td>…</td>
				    </tr>
				  </tbody>
				</table>
			</div>
			
			<div class="span3">
				<h6>Articles</h6>
				<table class="table table-striped table-bordered table-condensed">
				  <thead>
				    <tr>
				      <th>…</th>
				      <th>…</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>…</td>
				      <td>…</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>

	</div>
</div>