
<%= simple_form_for [:admin,@gallery], :html => { :class => 'form-vertical' } do |f| %>
  <%= f.input :title %>
  <%= f.input :description, :input_html => { :class => "span4", :rows => 5 } %>
  <hr>
  <%= f.input :cover %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                albums_path, :class => 'btn' %>
  </div>
<% end %>
