<div class="row">
	<div class="span3">
	<div class="well" style="padding:5px;">
		<ul class="nav nav-pills nav-stacked">
			<li class="nav-header">Sort By</li>
			<li><%= link_to "Most Relevant", nil %></li>
			<li><%= link_to "Most Views", nil %></li>
			<li><%= link_to "Most Plays", nil %></li>
			<li><%= link_to "Newest", nil %></li>
			<li><%= link_to "All Time", nil %></li>
			<li class="nav-header">Genres</li>
			<li><%= link_to "Rock", nil %></li>
			<li><%= link_to "Hip Hop", nil %></li>
			<li><%= link_to "Country", nil %></li>
			<li><%= link_to "Rap", nil %></li>
		</ul>
	</div>
	</div>
	<div class="span9">

		<div class="well">
			<h1>The Foobars</h1>
			<h3>2,000 Plays / 3,000 Views</h3>
			<p>San Jose, California / United States</p>
			<p>
				<span class="label label-info">Rock</span>
				<span class="label label-info">Pop Punk</span>
				<span class="label label-info">Alternative</span>
			</p>
		</div>

	</div>
</div>