<%= provide(:title, @artist.artist_name) %>
<div class="row">
	<div class="span8">
		<div class="well" id="main-box">
			<h1><%= @artist.artist_name %></h1>
			<h3>1,000 Plays / <%= @artist.impressionist_count(:filter=>:all) %> Views</h3>
			<p>
				<% @artist.genres.each do |genre|  %>
				<%= content_tag :span, genre.name, :class => "label label-info" %>
				<% end %>
			</p>
			<p>San Jose, California</p>
		</div>

		<%= render "shared/player" %>

	    <ul class="nav nav-pills" id="artist-profile-tabs">
	      <li><a href="#news" data-toggle="tab">News</a></li>
	      <li><a href="#gallery" data-toggle="tab">Galleries</a></li>
	      <li><a href="#about" data-toggle="tab">About</a></li>
	      <li class="active"><a href="#albums" data-toggle="tab">Albums</a></li>
	      <li><a href="#videos" data-toggle="tab">Videos</a></li>
	      <li><a href="#events" data-toggle="tab">Events</a></li>
	      <li><a href="#comments" data-toggle="tab">Comments</a></li>

	    </ul>

		<!---->


	    <div class="tab-content">

	      <div class="tab-pane active" id="albums">
			<ul class="thumbnails">
			<% @albums.each do |album| %>
			  <li class="span2">
			    <div class="thumbnail">
			      <%= image_tag album.artwork.url(:medium) %>
			      <h5><%= link_to truncate(album.title, :length => 23, :separator => ' '), album_path(album), :rel => 'tooltip', :title => album.title %></h5>
			      <p><%= "#{album.label}, #{album.year}" %></p>
			    </div>
			  </li>
			<% end %>
			</ul>
	      </div>

	      <div class="tab-pane" id="videos">
			<ul class="thumbnails">
			<% @videos.each do |video| %>
			  <li class="span2">
			    <div class="thumbnail">
			      <img src="http://placehold.it/260x180" alt="">
			      <h5><%= link_to "#{video.title}", video_path(video) %></h5>
			    </div>
			  </li>
			<% end %>

			</ul>
	      </div>

	      <div class="tab-pane" id="events">
			<table class="table table-bordered tabled-striped">
			  <thead>
			    <tr>
			      <th>Event</th>
			      <th>Date</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% @events.each do |event| %>
			    <tr>
			      <td><%= link_to event.title, event %></td>
			      <td><%= event.start.strftime('%b %d, %Y at %H:%M') %></td>
			    </tr>
			    <% end %>
			  </tbody>
			</table>
	      </div>

	      <div class="well tab-pane" id="about">
	      	<h3>About</h3>
	      	<p><%= @artist.about.html_safe %></p>
	      </div>

	      <div class="well tab-pane" id="comments">
			<%= render "comments/comments" %>
			<%= render "comments/form" %>
	      </div>

	      <div class="well tab-pane" id="news">

	      	<% @articles.each do |article| %>
	      	<h2><%= article.title %></h2>
	      	<p><%= article.content.html_safe %></p>
	      	<hr>
	      	<%= link_to "Read More", article, :class => "btn" %>
	      	<% end %>

	      </div>

	      <div class="tab-pane" id="gallery">

		    <ul class="thumbnails">
		      <% @galleries.each do |gallery| %>
		          <li class="span3">
		            <div class="thumbnail">
		              <img src="http://placehold.it/500x400" />

		              <h5><%= link_to gallery.title, gallery %></h5>


		            </div>
		          </li>
		      <% end %>

		    </ul>

	      </div>

	 	</div>
	</div>

	<div class="span4">
		<ul class="thumbnails">
		  <li class="span4">
		    <a href="#" class="thumbnail">
		      <%= image_tag @artist.profile_image.url(:medium) if @artist.profile_image.file? %>
		    </a>
		  </li>
		</ul>

		<!---->

		<ul class="thumbnails">
		<% @albums.each do |album| %>
		  <li class="span2">
		    <div class="thumbnail">
		      <%= image_tag album.artwork.url(:medium) %>
		      <h5><%= link_to truncate(album.title, :length => 23, :separator => ' '), album_path(album), :rel => 'tooltip', :title => album.title %></h5>
		      <p><%= "#{album.label}, #{album.year}" %></p>
		    </div>
		  </li>
		<% end %>

		</ul>

		<%= link_to "View Albums", root_path, :class => "btn" %>

		<hr>

		<!---->

		<table class="table table-bordered tabled-striped">
		  <thead>
		    <tr>
		      <th>Event</th>
		      <th>Date</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @events.each do |event| %>
		    <tr>
		      <td><%= link_to event.title, event %></td>
		      <td><%= event.start.strftime('%b %d, %Y at %H:%M') %></td>
		    </tr>
		    <% end %>
		  </tbody>
		</table>

		<%= link_to "View Events", root_path, :class => "btn" %>

	</div>
</div>