<div class="row">

	<div class="span6 offset3">

	    <ul class="breadcrumb">
			  <li>
			    <%= link_to_icon "lock", "Top Secret", admin_path %> <span class="divider">/</span>
			  </li>
			  <li>
			    <%= link_to_icon "list-alt", "Manage Articles", admin_articles_path %> <span class="divider">/</span>
			  </li>
			  <li class="active"><i class="icon-edit"></i> Editing Article: <strong><%= link_to @article.title %></strong></li>
	    </ul> 	

		<div class="well">
			<%= render :partial => 'form' %>
		</div>

	</div>

	<div class="span3">
		<h6>Current Image</h6>
		<% if @article.photo.file? %>
			<p><%= image_tag @article.photo.url(:medium) %></p>
		<% else %>
			<p>Please upload an article image.</p>
		<% end %>
	</div>
</div>