<%= simple_form_for @video, :html => { :class => 'form-vertical' } do |f| %>
  <%= f.input :title %>
  <%= f.input :description, :input_html => { :class => "span5", :rows => 5} %>

  <hr>
  <%= f.input :file %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                videos_path, :class => 'btn' %>
  </div>
<% end %>
