<%= provide(:title, @video.title) %>
<div class="row">
  <div class="span6">
    <video class="video-js vjs-default-skin" controls
      preload="auto" width="100%" height="300" poster="my_video_poster.png"
      data-setup="{}">
      <source src="<%= @video.file.url %>" type='video/mp4'>
    </video>
    <hr>
    <div class="well">
      <h2><%= @video.title %></h2>
      <p><%= @video.description %></p>
    </div>
  </div>
  <div class="span6">
    <h2>Comments</h2>
    <div class="well">
      <%= render "comments/comments" %>
      <h6 class="hb">Write your own comment</h6>
      <%= render "comments/form" %>
    </div>
  </div>
</div>