    <!---->
    <div id="moz_player"></div>

    <div id="moz_player_container">

        <div id="profile-player" class="btn-group">
          <button class="btn btn-large btn-danger disabled">
            <i class="icon-headphones"></i>
          </button>
          <a href="#" class="jp-play btn btn-large btn-warning" rel="tooltip" title="Play selected track.">
            <i class="icon-play"></i> 
          </a>
          <a href="#" class="jp-pause btn btn-large btn-warning" rel="tooltip" title="Pause selected track.">
            <i class="icon-pause"></i> 
          </a>
          <a href="#" class="jp-stop btn btn-large btn-warning"  rel="tooltip" title="Stop selected track.">
            <i class="icon-stop"></i> 
          </a>
          <a href="#" class="jp-mute btn btn-large btn-info"  rel="tooltip" title="Mute.">
            <i class="icon-volume-off"></i> 
          </a>
          <a href="#" class="jp-unmute btn btn-large disabled btn-inverse" rel="tooltip" title="Unmute.">
            <i class="icon-volume-down"></i> 
          </a>
          <a href="#" class="jp-volume-max btn btn-large btn-info" rel="tooltip" title="Max out volume.">
            <i class="icon-volume-up"></i> 
          </a>
          <button class="btn btn-large disabled">
             <span class="play-state"></span> 
             <strong><span class="track-name"></span></strong> -
             <span class="jp-current-time"></span>:<span class="jp-duration"></span>
          </button>
        </div>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th width="50%">Song Title</th>
                <th width="20%">Vote</th>
                <th width="10%">Plays</th>
                <th width="20%">Comments</th>
              </tr>
            </thead>
            <tbody>
              <% @songs.each do |song| %>
                <tr>
                    <td>
                      <%= link_to song.title, song.file.url, :class => "track track-default" %>
                      <% if fan_signed_in? %>
                        <div class="btn-group pull-right">
                          <a class="btn btn-primary btn-mini dropdown-toggle" data-toggle="dropdown" href="#" rel="tooltip" title="Select a playlist to add the song to it.">
                            <i class="icon-plus"></i>
                            <i class="icon-reorder"></i>
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <% current_fan.playlists.each do |playlist| %>
                              <%= content_tag :li, link_to(playlist.name, addsong_playlist_ptracks_url("song_id" => song.id, "playlist_id" => playlist.id), :method => :post) %>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>
                    </td>
                    <td>
                      <div class="btn-group">
                      <% if artist_signed_in? %>
                        <% if current_artist.voted_on?(song) %>
                          <%= link_to "#{song.votes_for} <i class='icon-thumbs-up'></i>".html_safe, upvote_songs_url("song_id" => song.id), :method => :post, :class => " vote btn disabled btn-mini btn-success" %>
                          <%= link_to "#{song.votes_against} <i class='icon-thumbs-down'></i>".html_safe, downvote_songs_url("song_id" => song.id), :method => :post, :class => " vote disabled btn btn-mini btn-danger" %>
                          <%= link_to "<i class='icon-remove'></i>".html_safe, unvote_songs_url("song_id" => song.id), :method => :post, :class => "btn btn-mini btn-inverse" %>
                        <% else %>
                          <%= link_to "#{song.votes_for} <i class='icon-thumbs-up'></i>".html_safe, upvote_songs_url("song_id" => song.id), :method => :post, :class => " vote btn btn-mini btn-success" %>
                          <%= link_to "#{song.votes_against} <i class='icon-thumbs-down'></i>".html_safe, downvote_songs_url("song_id" => song.id), :method => :post, :class => " vote btn btn-mini btn-danger" %>
                        <% end %>
                      <% elsif fan_signed_in? %>
                        <% if current_fan.voted_on?(song) %>
                          <%= link_to "#{song.votes_for} <i class='icon-thumbs-up'></i>".html_safe, upvote_songs_url("song_id" => song.id), :method => :post, :class => " vote btn disabled btn-mini btn-success" %>
                          <%= link_to "#{song.votes_against} <i class='icon-thumbs-down'></i>".html_safe, downvote_songs_url("song_id" => song.id), :method => :post, :class => " vote disabled btn btn-mini btn-danger" %>
                          <%= link_to "<i class='icon-remove'></i>".html_safe, unvote_songs_url("song_id" => song.id), :method => :post, :class => "btn btn-mini btn-inverse" %>
                        <% else %>
                          <%= link_to "#{song.votes_for} <i class='icon-thumbs-up'></i>".html_safe, upvote_songs_url("song_id" => song.id), :method => :post, :class => " vote btn btn-mini btn-success" %>
                          <%= link_to "#{song.votes_against} <i class='icon-thumbs-down'></i>".html_safe, downvote_songs_url("song_id" => song.id), :method => :post, :class => " vote btn btn-mini btn-danger" %>
                        <% end %>
                      <% end %>
                      </div>
                    </td>
                    <td>2,325</td>
                    <td><%= link_to "<i class='icon-comments'></i> Comments (#{song.comments.count})".html_safe, "#song_#{song.id}", :class => "btn btn-mini", :data => { :toggle => :modal} %></td>
                </tr>
                <% end %>

            </tbody>
        </table>

    </div>

    <!---->
    <% @songs.each do |song| %>
<div class="modal hide fade" id="song_<%= song.id %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= song.title %> Comments</h3>
  </div>
  <div class="modal-body">
    <% song.comments.each do |comment| %>
      <blockquote>
        <p><%= comment.content %></p>
        <small>
          <% if comment.poster_type == "artist" %>
            <%= link_to comment.artist.artist_name, "#" %> 
          <% else %>
            <%= link_to comment.fan.email, "#" %> 
          <% end %>
              
          on <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %>
        </small>
      </blockquote>
    <% end %>
    <% if song.comments.empty? %>
      <div class="alert alert-warning">There are no comments. Be the first! <a class="close" data-dismiss="alert" href="#">×</a></div>
    <% end %>

  </div>
  <div class="modal-footer">
    <h6>Leave  your own comment</h6>
    <%= simple_form_for [song, Comment.new] do |f| %>
        <%= f.error_notification %>
        <%= f.input :content, :label => false, :as => :text, :input_html => {:class => "span5", :rows => 2}  %>
      <%= f.submit "Submit Comment", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>
<% end %>