<div id="profile-songs">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="50%">Song Title</th>
            <th width="20%">Vote</th>
            <th width="10%">Plays</th>
            <th width="20%">Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3" class="track track-default">Cro Magnon Man</a></td>
            <td>
              <a href="#" class="btn btn-mini btn-success"><i class="icon-circle-arrow-up"></i></a>
              <a href="#" class="btn btn-mini btn-danger"><i class="icon-circle-arrow-down"></i></a>
            </td>
            <td>2,325</td>
            <td><%= link_to "Add Comment (34)", root_path %></td>
          </tr>
          <tr>
            <td><%= link_to "Song Name", root_path %></td>
            <td>
              <a href="#" class="btn btn-mini btn-success"><i class="icon-circle-arrow-up"></i></a>
              <a href="#" class="btn btn-mini btn-danger"><i class="icon-circle-arrow-down"></i></a>
            </td>
            <td>2,325</td>
            <td><%= link_to "Add Comment (34)", root_path %></td>
          </tr>
          <tr>
            <td><%= link_to "Song Name", root_path %></td>
            <td>
              <a href="#" class="btn btn-mini btn-success"><i class="icon-circle-arrow-up"></i></a>
              <a href="#" class="btn btn-mini btn-danger"><i class="icon-circle-arrow-down"></i></a>
            </td>
            <td>2,325</td>
            <td><%= link_to "Add Comment (34)", root_path %></td>
          </tr>

        </tbody>
      </table>

</div>