
<%= simple_form_for @event, :html => { :class => 'form-vertical' } do |f| %>
  <%= f.input :title %>
  <%= f.input :about, :input_html => { :class => "span4", :rows => 5 } %>
  <hr>
  <script>
  $(document).on("focus", "[data-behaviour~='datepicker']", function(e){
    $(this).datepicker({"format": "yyyy-mm-dd", "weekStart": 1, "autoclose": true});
  });
  </script>
  <%= f.input :start, :as => :string, :input_html => { :class => "span2", :data => { :behaviour => :datepicker } } %>
  <%= f.input :end, :as => :string, :input_html => { :class => "span2", :data => { :behaviour => :datepicker } } %>
  <hr>
  <%= f.input :photo %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                albums_path, :class => 'btn' %>
  </div>
<% end %>

