<%= simple_form_for [@album,@song], :html => { :class => 'form-vertical' } do |f| %>
  <%= f.input :title %>
  <%= f.input :track_number, :input_html => { :class => "span1" } %>
  <%= f.input :featured_artist %>
  <%= f.input :lyrics, :input_html => { :class => "span5", :rows => "5" } %>
  <hr>
  <%= f.input :artwork %>
  <hr>
  <%= f.input :file %>
  <div class="form-actions">
    <script type="text/javascript">$('.btn-primary').button('toggle');</script>
    <%= f.button :submit, :class => 'btn-primary', :data => {:toggle => :button, "loading-text" => "Uploading Song..."} %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                album_songs_path, :class => 'btn' %>
  </div>
<% end %>
