<%= provide(:title, @gallery.title) %>
<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li>
        <%= link_to_icon "user", @gallery.artist.artist_name, @gallery.artist %>
        <span class="divider">/</span>
      </li>

      <li class="active"><i class="icon-camera"></i> Viewing Gallery: <strong><%= @gallery.title %></strong></li>
    </ul>
  </div>
</div>
<div class="row">
	<div class="span6">
		<ul class="thumbnails">
			<% @images.each do |img| %>
			<li class="span2">
				<%= link_to(image_tag(img.file.url(:medium)), gallery_image_path(@gallery,img), :class => "thumbnail") %>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="span6">
		<h2>Comments</h2>
		<div class="well">
			<%= render "comments/comments" %>
			<h6 class="hb">Write your own comment</h6>
			<%= render "comments/form" %>
		</div>
	</div>
</div>