<div class="btn-group" data-toggle="buttons-radio">
	<label class="btn btn-inverse btn-mini disabled">Background Position:</label>

	<label for="<%= prop_id %>-position-top" class="btn btn-mini<%= " active" if current_artist.attributes[prop_row] ==  "top" %>"><i class="icon-arrow-up"></i> Top</label>
	<input type="radio" style="display:none" value="top" id="<%= prop_id %>-position-top" name="user[<%= prop_row %>]">

	<label for="<%= prop_id %>-position-bottom" class="btn btn-mini<%= " active" if current_artist.attributes[prop_row] ==  "bottom" %>"><i class="icon-arrow-down"></i> Bottom</label>
	<input type="radio" style="display:none" value="bottom" id="<%= prop_id %>-position-bottom" name="user[<%= prop_row %>]">

	<label for="<%= prop_id %>-position-left" class="btn btn-mini<%= " active" if current_artist.attributes[prop_row] ==  "left" %>"><i class="icon-arrow-left"></i> Left</label>
	<input type="radio" style="display:none" value="left" id="<%= prop_id %>-position-left" name="user[<%= prop_row %>]">

	<label for="<%= prop_id %>-position-right" class="btn btn-mini<%= " active" if current_artist.attributes[prop_row] ==  "right" %>"><i class="icon-arrow-right"></i> Right</label>
	<input type="radio" style="display:none" value="right" id="<%= prop_id %>-position-right" name="user[<%= prop_row %>]">

	<label for="<%= prop_id %>-position-center" class="btn btn-mini<%= " active" if current_artist.attributes[prop_row] ==  "center" %>"><i class="icon-move"></i> Center</label>
	<input type="radio" style="display:none" value="center" id="<%= prop_id %>-position-center" name="user[<%= prop_row %>]">
</div>