<h6 class="hb">Links</h6>
<%= f.input :nav_text_color, :input_html => { :class => "color" } %>
<%= f.input :nav_text_hover_color, :input_html => { :class => "color" } %>
<%= f.input :nav_background_color, :input_html => { :class => "color" } %>
<%= f.input :nav_background_hover_color, :input_html => { :class => "color" } %>

<h6 class="hb">Current</h6>
<%= f.input :nav_current_text_color, :input_html => { :class => "color" } %>
<%= f.input :nav_current_background_color, :input_html => { :class => "color" } %>

