<h6 class="hb">Text</h6>
<%= f.input :news_header_color, :input_html => { :class => "color" } %>
<%= f.input :news_text_color, :input_html => { :class => "color" } %>
<%= f.input :news_link_color, :input_html => { :class => "color" } %>
<%= f.input :news_link_hover_color, :input_html => { :class => "color" } %>
<h6 class="hb">Background</h6>
<%= f.input :news_background_image %>
<%= f.input :news_background_color, :input_html => { :class => "color" } %>

<%= render :partial => 'artists/image_props/repeat', :locals => { :prop_id => "news-br", :prop_row => "news_background_repeat" } %>
<hr>
<%= render :partial => 'artists/image_props/position', :locals => { :prop_id => "news-br", :prop_row => "news_background_position" } %>
<hr>
<%= render :partial => 'artists/image_props/attachment', :locals => { :prop_id => "news-br", :prop_row => "news_background_attachment" } %>