<h6 class="hb">Text</h6>
<%= f.input :tables_header_color, :input_html => { :class => "color" } %>
<%= f.input :tables_link_color, :input_html => { :class => "color" } %>
<%= f.input :tables_link_hover_color, :input_html => { :class => "color" } %>
<%= f.input :tables_row_text_color, :input_html => { :class => "color" } %>

<h6 class="hb">Background</h6>
<%= f.input :tables_border_color, :input_html => { :class => "color" } %>
<%= f.input :tables_header_background_color, :input_html => { :class => "color" } %>
<%= f.input :tables_row_background_color, :input_html => { :class => "color" } %>
<%= f.input :tables_row_background_hover_color, :input_html => { :class => "color" } %>

