<h6 class="hb">Text</h6>
<%= f.input :thumbnails_text_color, :input_html => { :class => "color" } %>
<%= f.input :thumbnails_link_color, :input_html => { :class => "color" } %>
<%= f.input :thumbnails_link_hover_color, :input_html => { :class => "color" } %>
<h6 class="hb">Background</h6>
<%= f.input :thumbnails_background_color, :input_html => { :class => "color" } %>
<%= f.input :thumbnails_background_hover_color, :input_html => { :class => "color" } %>
<%= f.input :thumbnails_border_color, :input_html => { :class => "color" } %>
<%= f.input :thumbnails_border_hover_color, :input_html => { :class => "color" } %>

