<%= provide(:title, 'Manage Images') %>
<div class="row">
  	<div class="span12">
    	<ul class="breadcrumb">
    	  <li>
    	    <%= link_to_icon "dashboard", "Gallery Dashboard", galleries_path %>
    	    <span class="divider">/</span>
    	  </li>
    	  <li>
    	    <%= link_to_icon "camera", @gallery.title, gallery_path(@gallery) %>
    	    <span class="divider">/</span>
    	  </li>

    	  <li class="active"><i class="icon-wrench"></i> Image Manager</li>
    	</ul>
	</div>
</div>

<div class="row">
	<div class="span3">

		<div class="well">
		  <h4><i class="icon-umbrella"></i> Welcome to the image manager, we make it pretty easy and fun to manage your images.</h4>
		  <hr>
		  <p><i class="icon-move"></i> You can drag and drop your images to arrage the order they appear on your gallery.</p>
		  <p><i class="icon-upload-alt"></i> You can also drag and drop all your images and upload them at the same time. You can drop them anywhere you see a drop zone.</p>
		</div>

		<div class="dropzone">
			<i class="icon-plus"></i>
			<p>Drop images here.</p>
		</div>
	</div>
	<div class="span9">
		<div class="pull-right">
			<%= link_to "<i class='icon-plus'></i> New Image".html_safe, new_gallery_image_path(@gallery), :class => "btn btn-success" %>
		</div>
		<h2><i class="icon-camera-retro"></i> <%= @gallery.title %> Images</h2>
		<ul id="sortable" data-update-url="<%= sort_images_url %>" class="thumbnails">
			<% @images.each do |img| %>
				<%= content_tag_for :li, img, :class => "span3" do %>
					<div class="thumbnail">
						<%= image_tag img.file.url(:medium) %>
						<div class="caption">
							<h5><%= link_to img.title, gallery_image_path(@gallery, img) %></h5>
							<p>
				            	<%= link_to "<i class='icon-edit'></i>".html_safe, edit_gallery_image_path(@gallery, img), :class => 'btn btn-mini btn-info', :rel => "tooltip", :title =>  "Edit image details and the actual image."  %>
				            	<%= link_to "<i class='icon-remove'></i>".html_safe,
				            	            gallery_image_path(@gallery, img),
				            	            :method => :delete,
				            	            :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
				            	            :class => 'btn btn-mini btn-danger',
				            	            :rel => "tooltip", :title => "Delete this image forever." %>
				            </p>					</div>
					</div>
				<% end %>
			<% end %>
		</ul>
		<% if @images.empty? %>

			<div class="alert alert-info">
        		You have no images. It is really easy to get started! <%= link_to "<i class='icon-plus'></i> Click here to add your first image.".html_safe, new_gallery_image_path(@gallery) %>
			</div>
			<hr>
			<div class="dropzone">
				<i class="icon-plus"></i>
				<p>Drop images here.</p>
			</div>
		<% end%>
	</div>
</div>