<% if artist_signed_in? %>


  <li class="dropdown">
    <a href="#" class="dropdown-toggle enlarge" data-toggle="collapse" data-target="#notifications" rel="tooltip" title="Notifications." data-placement="bottom">
      <i class="icon-book"></i>
      <span class='badge badge-inverse notification-count'><%= current_artist.notifications.count %></span>
    </a>
    <ul class="dropdown-menu" style="max-width:550px;">
          <li><%= link_to_icon "bolt",  "Notification Dashboard", notifications_path %></li>
          <li class="nav-header">Newest Notifications</li>
          <% if current_artist.notifications.each do |n| %>
            <% object_type = n.notify_type %>

            <% object = object_type.singularize.classify.constantize.find(n.notify_object) %>

            <li><%= link_to_icon "pushpin", n.message.html_safe, object %></li>

          <% end.empty? %>
            <li><%= link_to_icon "bell",  "You have no notifications :(", notifications_path %></li>
          <% end %>

    </ul>
  </li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle enlarge" data-toggle="dropdown" rel="tooltip" title="Your Dashboards for managing all aspects of your account." data-placement="bottom">
      <i class="icon-dashboard"></i>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to '<i class="icon-picture"></i> Albums'.html_safe, albums_path %></li>
      <li><%= link_to '<i class="icon-camera"></i> Galleries'.html_safe, galleries_path %></li>
      <li><%= link_to '<i class="icon-film"></i> Videos'.html_safe, videos_path %></li>
      <li><%= link_to '<i class="icon-bookmark"></i> Articles'.html_safe, articles_path %></li>
      <li><%= link_to '<i class="icon-bullhorn"></i> Events'.html_safe, events_path %></li>
    </ul>
  </li>
  <li class="enlarge"><%= link_to "<i class='icon-cogs'></i>".html_safe, edit_artist_registration_path, :rel => "tooltip", :data => { :placement => "bottom" }, :title => "Edit Account"  %></li>
  <li class="enlarge"><%= link_to "<i class='icon-user'></i>".html_safe, current_artist, :rel => "tooltip", :data => { :placement => "bottom" }, :title => "Your Profile"  %></li>

<% elsif fan_signed_in? %>

  <li class="enlarge"><%= link_to "<i class='icon-reorder'></i>".html_safe, playlists_path, :rel => "tooltip", :data => { :placement => "bottom" }, :title => "Your Playlists"  %></li>
  <li class="enlarge"><%= link_to "<i class='icon-cogs'></i>".html_safe, edit_fan_registration_path, :rel => "tooltip", :data => { :placement => "bottom" }, :title => "Edit Account"  %></li>
  <li class="enlarge"><%= link_to "<i class='icon-user'></i>".html_safe, current_artist, :rel => "tooltip", :data => { :placement => "bottom" }, :title => "Your Profile"  %></li>

<% elsif user_signed_in? %>

  <li><%= link_to_icon "bolt", "Admin", "/path1"  %></li>
  <li><%= link_to_icon "user", "Account", "/path1"  %></li>

<% else %>

  <li><%= link_to_icon "heart", "Sign up", register_path  %></li>
  <li class="divider-vertical"></li>
  <li><%= link_to_icon "music", "Artist Signin", new_artist_session_path  %></li>
  <li><%= link_to_icon "user", "Fan Signin", new_fan_session_path  %></li>

<% end %>

<% if user_signed_in? || fan_signed_in? || artist_signed_in? %>
  <li class="divider-vertical"></li>
  <li><%= link_to'<i class="icon-signout enlarge"></i>'.html_safe, destroy_artist_session_path, :method => :delete %></li>
<% end %>