<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/meta' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
    <%= render 'layouts/favicons' %>
  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <div class="container">

      <div class="content">
          <% if artist_signed_in? %>
          <div id="notifications" class="row collapse">
            <div class="span6 offset3">
              <div class="alert alert-info">
                <p class="pull-right">
                  <%= link_to "Notifications Dashboard", notifications_path, :class => "btn btn-mini btn-inverse" %>
                </p>
                <p class="lead">Recent Notifications</p>
                <hr>

                
                  <% if current_artist.notifications.take(5).each do |n| %>
                    <% object_type = n.notify_type %>

                    <% object = object_type.singularize.classify.constantize.find(n.notify_object) %>

                    <p><i class="icon-pushpin"></i> <%= n.message.html_safe %></p>

                  <% end.empty? %>
                    <p><%= link_to_icon "bell",  "You have no notifications :(", notifications_path %></p>
                  <% end %>

                
              </div>
            </div>
          </div>
          <% end %>

        <%= render 'shared/message' %>
        <%= yield %>
        
      </div><!--/content-->


    </div> <!-- /container -->
    <%= render 'layouts/footer' %>

  </body>
</html>
