<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/meta' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
    <%= render 'layouts/favicons' %>
  </head>
  <body>

    <%= render 'layouts/navbar' %>

    <div class="container">

      <div class="content">
        <%= render 'shared/message' %>
        <%= yield %>
        
      </div><!--/content-->


    </div> <!-- /container -->
    <%= render 'layouts/footer' %>

  </body>
</html>
